.sumbtn button{
    min-width: 30px;
    min-height:10px;
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, #2796ff 0%, #5FB2FF 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 8px 8px 19px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.sumbtn button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(110px + 12px);
    min-height: calc(28px + 12px);
    border: 2px solid #2796ff;
    box-shadow: 0 0 10px #5FB2FF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .sumbtn button:hover, .sumbtn button:focus {
    color: #313133;
    transform: translateY(-6px);

  }
  
  .sumbtn button:hover::before, .sumbtn button:focus::before {
    opacity: 1;
  }
  
  .sumbtn button::after {
    content: '';
    width: 10px; height: 10px;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .sumbtn button:hover::after, .sumbtn button:focus::after {
    animation: none;
    display: none;
  }